@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #191919;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

#title {
    padding: 20px;
    color: greenyellow;
    
}

canvas {
    background-color: #111;
    width: 400px;
    height: 400px;
}

#score {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.score_value {
    font-size: 1.5rem;
    margin-left: 5px;
}

.menu_screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
}

.game_over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final_score {
    font-weight: 500;
    font-size: 1.5rem;
}


.btn_play {
    background-color: #acff2fa8 ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
}



